$sidebar-nav-link-hover-bg: #457B9D !important;
$sidebar-nav-link-hover-color: #fff !important;
$sidebar-nav-link-icon-hover-color: #fff !important;
$sidebar-nav-link-active-color: #F1FAEE !important;
$sidebar-nav-link-active-icon-color: #F1FAEE !important;
.nav-link {
  &.active {
    color: $sidebar-nav-link-active-color;

    i {
      color: $sidebar-nav-link-active-icon-color;
    }
  }

  &:hover {
    color: $sidebar-nav-link-hover-color;

    background: $sidebar-nav-link-hover-bg;
    i {
      color: $sidebar-nav-link-icon-hover-color;
    }
  }

}